html, 
body {
    background-color: #29b6f6;
    height: 98%;
    width: 98%;
}
.core-div-side{
     float: lett;
	 width:auto;
     max-width:25%;
	 padding: 5px; 
     height:100%;
     background-color: #82b1ff;
     overflow:hidden;
}